* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    color: black;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7\ \(mono\).ttf') format('truetype');
}

#container {
    height: 100%;

}

.calculator {
    padding: 24px;
    width: 512px;
    height: fit-content;
    background-color: #181818;
    border-radius: 20px;

    /*  shadow from getcssscan.com */
    box-shadow: rgba(0, 0, 0, 0.52) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.p {
    font-size: 1.4rem;
    color: antiquewhite;
}

.display {
    padding: 12px;
    height: 6rem;
    border-radius: 0.5rem;
    background-color: rgb(166, 206, 173);
    display: flex;
}

#num-screen {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Digital-7';
    caret-color: blue;
    font-size: 5rem;
    text-align: right;
    padding-right: 12px;
    background-color: transparent;

    user-select: none;

    &::placeholder {
        opacity: 0.03;
    }
}

#operator-screen {
    width: 2ch;
    height: 100%;
    border-radius: 0.5rem;
    background: none;
    outline: none;
    border: none;
    font-family: 'Digital-7';
    font-size: 2rem;

    user-select: none;

    &::placeholder {
        opacity: 0.09;
    }
}

#button-container {
    columns: 4;
    padding: 24px;
    padding-bottom: 0;
    text-align: center;
}

#lg-button-container {

    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

}

.button {
    width: 80px;
    height: 60px;
    color: white;
    background-color: darkslategrey;
    font-size: 2.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

    &:hover {
        border: 5px solid greenyellow;
        opacity: .8;
    }

    &:active {
        opacity: .5;
    }
}

.lg-button {
    width: 47%;
    height: 60px;
    font-size: 2.5rem;
    border-radius: 1rem;
    margin-bottom: 0;

    &:hover {
        border: 5px solid greenyellow;
    }
}

.operation {
    background-color: darkorange;
}

.clear {
    background-color: firebrick;
}

.result {
    background-color: cornflowerblue;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: ghostwhite;

    }

    .calculator {
        background-color: cadetblue;
    }

    .display {
        background-color: dimgray;
    }

    #num-screen {
        &::placeholder {
            opacity: 0.1;
        }
    }
}